body {
	padding: 0px;
	margin: 0px;
    background-color: #151D28;
    height: auto;
}

header {
	position: relative;
    background-image: url(../img/NavBackground.png);
    width: 100%;
    height: 64px;
    box-shadow: 0px 2px 5px 2px #000;
    z-index: 50;
}

#homeImg {
    background-image: url(../img/homeImg.png);
    width: 125px;
    height: 50px;
}

#ContactImg {
    background-image: url(../img/ContactImg.png);
    width: 125px;
    height: 50px;
}

#AboutImg {
    background-image: url(../img/AboutImg.png);
    width: 125px;
    height: 50px;
}

#DiceRollImg {
    background-image: url(../img/DiceRollImg.png);
    width: 135px;
    height: 50px;
}

#FeatsImg {
    background-image: url(../img/FeatsImg.png);
    width: 125px;
    height: 50px;
}

nav {
    position: relative;
    width: 700px;
    left: 55%;
    bottom: -20%;
}

nav > ul {
    width: 700px;
	margin: 0px;
	list-style-type: none;
}

nav > ul > li {
    width: 125px;
    display: inline-block;
}

nav > ul > li > div > a {
    width: 125px;
    height: 50px;
    text-align: center;
    display: inline-block;
}

#logo {
    position: absolute;
    background-image: url(../img/logo.png);
    height: 125px;
    width: 500px;
    bottom: -40%;
}

#mainContent {
	position: relative;
	width: 80%;
    /*only made this 800px so i can see how it would look like with the page full of content*/
    height: auto;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/oldpaperBackground.png);
	z-index: 1;
}

#mainContent > h1 {
    text-align: center;
    font-family: 'blade 2';
    font-size: 45px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
	margin: 0px;
	z-index: 2;
}

form {
    /*display: flex;
    flex-grow: 2;
    flex-wrap: wrap;*/
    font-family: 'blade 2';
    color: #fff;
    font-size: 30px;
}

/*form > div {
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}*/

form > div > input {
    width: 500px;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

form > label {
    font-family: 'blade 2';
    font-size: 30px;
}

form > div > label {
    font-family: 'blade 2';
    font-size: 30px;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

#output {
    height: auto;
}

#aboutContent {
 margin-left: auto;
    margin-right: auto;
}

.aboutInfo {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
}

.featsH1 {
	color: #ffffff;
	text-align: center;
	font-size: 2rem;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #000;
	width: 90%;
	margin: 0px auto;
    padding: 10px 0px;
	
}

.flex h2 {
    margin: 20px 0px;
	text-decoration: underline;
	letter-spacing: 0.05rem;
	font-size: 45px;
	text-align: center;
    font-family: 'blade 2';
}

.flex ul {
	list-style: square;
}

.flex > div {
	border: 4px inset #ffffff;
	padding: 5px;
	flex-grow: 1;
	width: 35%;
	letter-spacing: .015rem;
}

.charSheet {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    border: 5px #000 solid;
    margin: 10px 20px 0px 20px;
    padding: 5px;
}

.twoRowsDiv {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
}

.threeColumnDiv {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
}

/*.ColumnLeftDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 33%;
}

.ColumnMiddleDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 33%;
}

.ColumnRightDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 33%;
}*/

.threeColumnsClass {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 33%;
}

#characterNameDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#characterNameDiv > div {
    margin: 0px 5px 0px 5px;
    /*display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;*/
}

/*#characterNameDiv > div > label {
}

#characterNameDiv > div > input {
    width: 95%;
}*/

.labelDiv {
    border: 1px #3D311D solid;
    border-radius: 6px;
    padding-left: 5px;
    margin-top: 5px;
    background-color: #3D311D;
}

.inputDiv {
    position: relative;
    border: 1px #3D311D solid;
    border-radius: 6px;
}

.inputDiv > input {
    width: 90%;
    margin-left: 5%;
}

.inputDiv > input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px #3d311d solid;
}

#column1row1 {
    flex: 1 1 50%;
}

#sexAgeDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sexAge {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sexAge > div > label {
    
}

#raceDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#column1row1Right {
    flex: 1 1 50%;
}

#playerNameDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#xpDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#alignmentDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#column1row2 {
}

.classLevelBackgroundDiv {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

/*.skillDiv {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.skillDiv > div {
    width: 50%;
    height: 16%;
    margin-top: 5px;
}*/

.skillDiv {
    width: 100%;
}

#statSaves {
    flex-wrap: nowrap;
}

.leftStatColumn {
    flex-direction: column;
    
}

.rightStatColumn {
    flex-direction: column;
    flex: 1 1 50%;
}

#skillColumns {
    flex-wrap: nowrap;
    font-size: 25px;
}

.leftSkillColumn {
    flex-direction: column;
    flex: 1 1 50%;
    width: 50%;
}

.rightSkillColumn {
    flex-direction: column;
    flex: 1 1 50%;
    width: 50%;
}

#hitPointDiv {
    flex-grow: 3;
}

#hitPointDiv > div {
    width: 100%;
}

#proficienciesDiv {
    flex-grow: 1;
}

#proficienciesDiv > div {
    width: 100%;
}

#attackSpellCastingDiv {
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.attackSpellClass {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.attackSpellClass > div {
    flex-grow: 1;
    flex-shrink: 1;
}